In [1]:
import pandas as pd

In [2]:
metadata = pd.read_csv(r'GRF_metadata.csv')
metadata.head()

,SUBJECT_ID,SESSION_ID,CLASS_LABEL,CLASS_LABEL_DETAILED,SEX,AGE,HEIGHT,BODY_WEIGHT,BODY_MASS,SHOE_SIZE,AFFECTED_SIDE,SHOD_CONDITION,ORTHOPEDIC_INSOLE,SPEED,READMISSION,SESSION_TYPE,SESSION_DATE,TRAIN,TRAIN_BALANCED,TEST
0,1,29885,HC,HC,1,18,173.0,516.1,52.6,42.0,NaN,1,0.0,2,0,1,29.01.2015,0,0,1
1,1,29886,HC,HC,1,18,173.0,516.2,52.6,42.0,NaN,1,0.0,1,0,1,29.01.2015,0,0,1
2,1,29888,HC,HC,1,18,173.0,516.1,52.6,42.0,NaN,1,0.0,3,0,1,29.01.2015,0,0,1
3,2,888812549,HC,HC,1,51,182.0,752.1,76.7,44.0,NaN,1,0.0,1,0,1,03.08.2017,1,0,0
4,2,888812550,HC,HC,1,51,182.0,752.4,76.7,44.0,NaN,1,0.0,3,0,1,03.08.2017,1,0,0

In [9]:
import numpy as np
label = "A" #HC, C, H, K, A
subject_df = pd.DataFrame(metadata.loc[metadata['CLASS_LABEL'] == label]['SUBJECT_ID'])
subjects = subject_df['SUBJECT_ID'].unique()
np.shape(subjects)

(627,)

In [32]:
data = pd.read_csv(r'GRF_F_V_PRO_left.csv')
session_df = pd.DataFrame(data.loc[data['SUBJECT_ID'] == subjects[9]]['SESSION_ID'])
sessions = session_df['SESSION_ID'].unique()
sessions

array([19590, 19591, 19592, 19593, 19594, 19595], dtype=int64)

In [43]:
#select the subjects with more than 4 sessions
selected = []
for s_count in range(len(subjects)):
    session_df = pd.DataFrame(data.loc[data['SUBJECT_ID'] == subjects[s_count]]['SESSION_ID'])
    sessions = session_df['SESSION_ID'].unique()
    if len(sessions) > 4:
        selected.append([s_count, len(sessions)])

In [42]:
import numpy as np
selected_arr = np.array(selected)
np.savetxt('selected_subjects.csv', selected_arr, delimiter=',')